<html>
<head>
    <link href="https://getbootstrap.com/docs/4.0/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
</head>
<body>
<div class="container py-4 px-3 mx-auto">
    {block content}
    {/block}
</div>
</body>
</html>